.modalDetails {
	display: grid;
	overflow-y: overlay;
	max-height: 80%;
}

.modalDetails::-webkit-scrollbar {
	display: none;
}

.modalDetails__name {
	display: grid !important;
	align-items: center !important;
	justify-items: center !important;
	padding: 3px;
	max-width: 300px;
}

.modalDetails__subtitle {
	font-weight: bold;
}

.modalDetails__moreInfo {
	padding-top: 10px;
}

.modalDetails__collection {
	max-width: 60vw;
}
