.card {
	padding: 10px;
}

.card:hover {
	transition: transform 0.1s ease-in-out;
	transform: scale(1.02);
	cursor: pointer;
}

.noTransition:hover {
	transition: none !important;
	transform: none !important;
	transition-property: none !important;
}

.small > img {
	height: 100px;
	min-height: 60px;
	width: auto;
	padding: 0;
}

.card__img {
	height: 150px;
	width: auto;
	padding: 10px;
	padding-bottom: 0px;
}

.cardwithImage__p {
	font-size: 110% !important;
	width: 100% !important;
	max-width: 170px !important;
	height: 50px !important;
	font-family: "Ubuntu Condensed", sans-serif !important;
	display: grid !important;
	align-items: center !important;
	justify-items: center !important;
}

.small > .cardwithImage__p {
	font-size: 100% !important;
	width: 100% !important;
	max-width: 100px !important;
	display: grid;
	align-items: center;
	justify-items: center;
}

.small {
	padding: 0px !important;
}

@media screen and (max-width: 360px) {
	.card__img {
		height: auto;
		width: 20vw;
		padding: 10px;
	}
}
