.card {
    padding:10px;
}

.card__img {
    height: 30vh;
    width: auto;
    padding: 10px;
}

.cardwithImage__p {
    font-size: 1.22em !important;
    padding-top: 5px;
    font-family: 'Ubuntu Condensed', sans-serif !important;
    width: 100% !important;
    height: 2.5em !important;
    display: grid;
    align-items: center;
    justify-items: center;
}

.card__card:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.02) !important;
}

.small > img {
    height: 15vh;
    min-height: 60px;
    width: auto;
    padding: 0;
}

.small > .cardwithImage__p {
    font-size: 1vw !important;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100% !important;
    height: 1.2em !important;
}

.small {
    padding:0px !important;
}

 @media screen and (max-width: 360px) {
    .card__img {
        height: auto;
        width: 20vw;
        padding: 10px;
    }
 }