.sidebarOption {
    padding: 20px;
    cursor: pointer;
    font-size: 25px;
    transition: 200ms color ease-in;
    align-items: center;
    color: #293d3d;
}

.sidebarOption__link {
    text-decoration: none;
}

.sidebarOption__link:visited,
.sidebarOption__link:hover, 
.sidebarOption_link:active {
    color: cadetblue;
    font-weight: bold;
}


