.sidebarOption {
    padding: 10px;
    cursor: pointer;
    transition: 200ms color ease-in;
    align-items: center;
    color: #293d3d;
}

.sidebarOption__botton {
    font-size: 30px !important;
    width: 100% !important;
    font-family: 'Shadows Into Light', cursive !important;
    font-weight: bold !important;
    color: #293d3d !important;
}

.sidebarOption__botton:hover, 
.sidebarOption__botton:focus{
    color: #006699 !important;
    font-weight: bold !important;
}