.searchForm__form {
    padding: 20px;
}
.searchForm__input {
    padding-right: 10px !important;
}

@media screen and (max-width: 721px) {
    .searchForm__form {
        display:flex;
        flex-direction: column;
    }

    .searchForm__input{
        padding:5px !important;
    }
 }