.searchForm__form {
	display: flex;
	padding: 20px;
	align-content: center;
	justify-items: center;
}

.searchForm__clearButton {
	padding: 0 !important;
}

@media screen and (max-width: 721px) {
	.searchForm__form {
		display: flex;
		flex-direction: column;
	}
}
