.sidebar{
    height: 100vh;
    flex:.2;
    place-items: center;
}

.sidebar > hr {
    border: .7px solid rgb(179, 179, 179);
    width: 50%;
    margin: 10px auto;
}

.sidebar__logo {
    height: 100px;
    width: 100px;
    padding: 50px 20px 0px;
}

.sidebar__title {
    font-size: 20px;
    color: #3e5b5b;
    font-family: 'Ubuntu Condensed', sans-serif;
}

@media screen and (max-width: 360px) {
    .sidebar {
        width:100px;
    }
    .sidebar__logo {
        height: 50px;
        width: 50px;
    }
    .sidebar__title {
        font-size: 15px;
    }
 }

 .sidebar__nav {
     padding-top: 20px;
     display: grid !important;
 }

 .sidebarnav__button {
     display: flex !important;
 }

.sidebarnav__button:focus, :active, .Mui-selected{
   color: #7aaaaa !important;
}

.sidebarnav__icon {
    font-size: 2rem !important;
    padding: 15px;
}



